<h1>Display your Pirate here</h1>
<%= @new_pirate.name %>
<%= @new_pirate.weight %>
<%= @new_pirate.height %>


<h2>Display your first ship here</h2>
<%= @new_pirate.ships[0].name %>
<%= @new_pirate.ships[0].type %>
<%= @new_pirate.ships[0].booty %>

<h2>Display your second ship here</h2>
<%= @new_pirate.ships[1].name %>
<%= @new_pirate.ships[1].type %>
<%= @new_pirate.ships[1].booty %>