<h1><%= @pirate.name %></h1>
<h2><%= @pirate.weight%>
<h2><%= @pirate.height%>

<% @ships.each do |ship|%>
<h2>Boat Name: <%= ship.name %></h2>
<h2>Boat Type:<%= ship.type %></h2>
<h2>Boat Booty:<%= ship.booty %></h2>
<% end %>
