<h1>Display your Pirate here</h1>
<div class="pirate">
<h3>Name: <%= @pirate.name %></h3><br>
<h4>Weight: <%= @pirate.weight %></h4>
<h4>height: <%= @pirate.height %></h4>
</div><br>


<h2>Display your first ship here</h2>
  <div class="ships">
    <%@@SHIPS.each do |ship|%>
    <div class="ships">
    <p>Ship 1 Name: <%=ship.name%>
    <p>Ship 1 Type : <%=ship.type%>
    <p>Ship 1 Booty: <%=ship.booty%>
      <%end%>
<h2>Display your second ship here</h2>
